/*Mateo*/
/*Sebastian*/
/*Deivid*/

/*==================== Variables ====================*/
:root {
    /* Light Mode */
    --main-color       : #1083D6;
    --title-color      : #2A3B47;
    --text-color       : #697477;
    --light-text-color : #A0A7AC;
    --border-color     : #EFF3F5;
    --container-color  : #FFFFFF;
    --body-color       : #FBFBFE;
}

body.dark-theme {
    --main-color       : #52A5E0;
    --title-color      : #EFF3F5;
    --text-color       : #C8CDD0;
    --light-text-color : #A0A7AC;
    --border-color     : #2A3B47;
    --container-color  : #212E36;
    --body-color       : #192229;
}

/*==================== Global Styles ====================*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--body-color);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--body-color-light);
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 10px;
}

/*==================== Utility Classes ====================*/
.df { display: flex; }
.dn { display: none; }
.jc { justify-content: center; }
.jb { justify-content: space-between; }
.ja { justify-content: space-around; }
.je { justify-content: flex-end; }
.ai-center { align-items: center; }
.ai-start { align-items: flex-start; }
.ai-end { align-items: flex-end; }
.text-align-center { text-align: center; }
.width-100 { width: 100%; }
.width-50 { width: 50%; }
.margin-1rem { margin: 1rem; }
.fw{ flex-wrap: wrap;}
.selected{ color:rgb(55, 213, 55);font-weight: 500;}

/*==================== Layout ====================*/
.full-container {
    width: 100%;
    height: 100vh;
    background-color: var(--body-color);
}

/*==================== Background Colors ====================*/
.bg-skyblue { background-color: var(--main-color); }
.bg-blue { background-color: rgb(50, 94, 148); }
.bg-black { background-color: #000; }

/*==================== Text Styles ====================*/
.fw-100 {
    font-weight: 100;
    margin-top: 1rem;
}

a {
    color: var(--main-color);
    font-size: 1rem;
    margin: 1rem;
    text-decoration: none;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--border-color);
    padding: 1rem;
    margin: 1rem;
    background-color: transparent;
}

input:focus {
    outline: none;
    border-bottom: 1px solid var(--main-color);
}

button {
    padding: 1rem;
    margin: 1rem;
    border: none;
    background-color: var(--main-color);
    color: var(--container-color);
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background-color: #0E70A4;
    color: var(--container-color);
}

/*==================== Header ====================*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--main-color);
}

header img {
    width: 10rem;
    border-radius: 1rem;
}

header ul {
    list-style: none;
}

header ul li a {
    color: var(--body-color);
    font-size: 1rem;
    margin: 1rem;
    text-decoration: none;
    font-weight: 100;
}

header ul li a:hover {
    text-decoration: underline;
    color: rgb(55, 213, 55);
    transition: .3s;
}

/*==================== Login Option ====================*/
.login-option {
    display: flex;
    align-items: center;
    padding: .3rem;
    border-radius: .2rem;
    margin: 1rem auto;
}

.login-option img {
    width: 2rem;
    background-color: white;
    padding: .3rem;
}

.login-option p {
    color: white;
    font-size: 1rem;
    margin-left: 1rem;
}

/*==================== Card ====================*/
.card {
    margin: 1rem;
    width: 25%;
    height: 40rem;
    overflow: hidden;
    background-color: var(--title-color);
    border-radius: .5rem;
    border: 1px solid black;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.816);
    color: white;
    line-height: 1.5;
}

.card-header {
    height: 70%;
    overflow: hidden;
}

.card-header img {
    width: 100%;
}

.card-header h2 {
    font-size: 1.5rem;
    position: relative;
    z-index: 1;
    bottom: 0;
}

.card-content {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-cv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: var(--container-color);
    padding: .5rem;
    border-radius: .5rem;
    margin: 1rem;
    cursor: pointer;
    transition: .3s;
}

.card-name {
    position: absolute;
    bottom: 0;
    left: 0;
}

/*==================== Images ====================*/
.img-card {
    width: 100%;
    height: 8rem;
    object-fit: cover;
}

.card-project {
    height: 20rem;
    width: 30rem;
}

/*==================== Projects ====================*/
.projects {
    background-color: var(--light-text-color);
    padding: 2rem;
}

/*==================== Portfolio ====================*/
.name-portfolio {
    background-color: var(--main-color);
    width: 30%;
    padding: 2rem;
    position: relative;
    z-index: 1;
    bottom: -1rem;
    border-radius: 1rem;
}

/*==================== Footer ====================*/
/*Modificacion por Sebas*/
footer {
    background-color: var(--main-color);
    color: var(--body-color);
    padding: 1rem;
    text-align: center;
}

hr {
    margin-top: 2rem;
}

/*==================== Icons ====================*/
i {
    margin: .2rem 1rem;
}

#moon {
    color: var(--body-color);
}

#moon:hover {
    cursor: pointer;
    animation: spinner .5s linear normal;
}

#theme {
    display: none;
}

.dark {
    display: none;
}

/*==================== Animations ====================*/
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

/*==================== Theme Switch ====================*/
body:has(.theme:checked) {
    --main-color       : #52A5E0;
    --title-color      : #EFF3F5;
    --text-color       : #C8CDD0;
    --light-text-color : #A0A7AC;
    --border-color     : #2A3B47;
    --container-color  : #212E36;
    --body-color       : #192229;
    transition: .5s;
}


body:has(.theme:checked) .light {
    display: none;
}

body:has(.theme:checked) .dark {
    display: block;
}

/*==================== Preguntas Frecuentes aside ====================*/

.container-questions{
    position: fixed;
    right: 0;
    width: 5%;
    background-color: #0df;
    padding-top: 0.7rem ;
    padding-left: 1rem;
    border-radius: 20px 0px 0px 20px;
    box-sizing: border-box;
    top: 6rem;
}
.header-question{
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 0.5rem;
}
.header-question h3{
    margin-left: 3rem;
    margin-right: 4rem;
    font-size: 2rem;
    margin-bottom: 0.6rem;
}
.close{
    color: transparent;
    position: absolute;
}
.questionCheckbox{
    cursor: pointer;
    position: absolute;
    height: 35px;
    width: 25px;
    border: none;
    appearance: none;
    left: 2rem;
    margin: 0;
    padding: 0;
    z-index: 2;
}
.container-questions:has(.questionCheckbox:checked){
    animation: expandWidth 3s ease-in-out forwards;
}
.questions-icon:has(.questionCheckbox:checked){
    color: transparent;
}
.close:has(.questionCheckbox:checked){
    color: rgb(30, 48, 80);
}
.arrowDownCheckbox{
    cursor: pointer;
    position: absolute;
    height: 38px;
    width: 25px;
    border: none;
    appearance: none;
    margin: 0;
    padding: 0;
    z-index: 2;
    top: 1.2rem;
    right: 3rem;
}
.down{
    position: relative;
    right: 0;
}
@keyframes expandWidth {
    0%{
        width: 5%;
    }
    100%{
        width: 40%;
    }
    
}
.questions{
    overflow: hidden;
    background-color: #0df;
    height: 0;
    margin-bottom: 0.8rem;
}
.questions:has(.arrowDownCheckbox:checked){
    animation: expandHeight 3s ease-in-out forwards;
}
@keyframes expandHeight {
    0%{
        height: 0;
    }
    99%{
        height:220px;
    }
    100%{
        height: auto;
    }
    
}
summary{
    margin: 5px 0;
}

