*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    width: 100%;
}

/*Container-Cards*/
.Container-Cards{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-right: 3rem;
    margin-left: 3rem;
}

/*Cards*/
.Card1, .Card2, .Card3, .Card4{
    border: 1px solid black;
    border-radius: 10%;
    width: 20rem;
    height: 16rem;
    text-align: center;
    padding-top: 5rem;
    box-shadow: 0 0 5px black;
    margin-right: 40px;
    margin-bottom: 1rem;
}

.Card1 p{
    margin-top: 40px;
    margin-bottom: 10px;
}

.Card1-Phrasal{
    margin-top: 2px;
}

.Card2 p{
    margin-top: 40px;
    margin-bottom: 10px;
}

.Card3 p{
    margin-top: 40px;
    margin-bottom: 10px;
}

.Card4 p{
    margin-top: 40px;
    margin-bottom: 10px;
}

/*Message of contact*/

.Contact-Order{
    width: 50%;
    margin: auto;
}

.Contact-Order article{
    text-align: center;
}

.Contact-Order article h1{
    margin-top: 3rem;
    font-size: 3rem;
}

.Contact-Order article p{
    color: var(--text-color);
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.Contact-Order textarea{
    margin-top: 1%;
    border-radius: 18px;
    padding: 20px 10px 5px 20px;
    width: 100%;
    max-width: 100%;
    border: 1px solid var(--border-color);
    background-color: var(--body-color);
    color: var(--text-color);
}

::placeholder{
    color: var(--text-color);
}

.Contact-Order textarea:focus{
    outline: none;
    border: 1px solid var(--main-color);
}

.form-contact{
    text-align: center;
}

.meet{
    display: inline; 
    margin-left: 3%;
    color: var(--text-color);
}

input{
    margin: 1%;
    color: var(--text-color);
}

input[type="date"]{
    color: var(--text-color);
}

select{
    background-color: var(--body-color);
    margin-top: 2%;
    color: var(--text-color);
    border: none;
    font-size: 1rem;
    padding: 0.5rem;
    margin-left: 2%;
}

select:focus{
    outline: none;
    border: 1px solid var(--main-color);
}

/*Section map*/
.Section-Map{
    text-align: center;
    margin-top: 30px;
}

.Section-Map h2{
    margin-bottom: 20px;
}


.Section-Map p {
    color: var(--title-color);
}


h1, h2{
    color: var(--main-color);
}



body:has(.theme:checked) section i{
    color: white;
}


button{
    width: 50%;
}

.container-table{
    width: 50%;
    margin: auto;
    margin-top: 2%;
}

.container-table table{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--main-color);
}

.container-table table th{
    color: var(--title-color);
    padding: 1rem;
    font-size: 1.4rem;
    text-transform: uppercase;
}

@media (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }
    thead tr {
        display: none;
    }
    td {
        display: flex;
        justify-content: space-between;
        padding: 10px 5px;
    }
    td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        color: var(--title-color);
    }
}

.container-table table td{
    color: var(--text-color);
    padding: 1rem;
    font-size: 1rem;
}
