.legend-footer{
    color: rgb(168, 165, 165);
    font-weight: 100;
    font-size: .7rem;
}

main{
    display: flex;
    padding: 1rem;
    width:98%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.separator{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.separator hr{
    width: 1px;
    height: 30vh;
}