.legend-footer{
    color: rgb(168, 165, 165);
    font-weight: 100;
    font-size: .7rem;
}

footer{
    background-color: transparent;
    text-align: center;
}

main{
    display: flex;
    padding: 1rem;
    width:98%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    color: var(--title-color);
}

.p-title-color{
    color: var(--title-color);
    font-size: 1.2rem;
}
.separator{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.separator hr{
    width: 1px;
    height: 30vh;
}