*{
    margin: 0;
    padding: 0;
}

.introduction{
    margin-top: 2rem;
    margin: auto;
    display: flex;
    width: 90%;
    text-align: center;
    margin-bottom: 3rem;
}

article{
    width: 60%;
    box-sizing: border-box;
}

aside{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-top: 2rem;
}

aside img{
    width: 100%;
    margin-left: 0rem;
}


.introduction h2{
    margin-top: 2rem;
}

.introduction p{
    margin-top: 2rem;
    text-align: justify;
}

.introduction button{
    width: 30%;
    margin-top: 2rem;
    font-size: 1rem;
    border-radius: 1rem;
}

.introduction aside img{
    height: 20rem;
}

.container-products{
    display: flex;
    text-align: center;
    margin-top: 2rem;
}

.title-services{
    margin-top: 2rem;
    font-size: 2.1rem;
}

.target{
    margin: 0.5rem 0.5rem;
    height: 30rem;
    width: 30rem;
}

.target img{
    width: 20rem;
    object-fit: cover;
    border-radius: 10px;
}

.target h4{
    margin-top: 1.5rem;
}

.target p{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: justify;
}

/*Tragets of products*/
.target{
    border: 1px solid black;
    padding: 2rem 2rem;
    border-radius: 4%;
    width: 20rem
}

.heart{
    position: absolute;
    margin-top: 3rem;
    top: inherit;
    cursor:pointer;
}

.outstanding{
    position: absolute;
    background-color: yellow;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 7rem;
    border-radius: 5%;
}

.iconoCheckbox{
    cursor: pointer;
    position: absolute;
    height: 35px;
    appearance: none;
    border: none;
    left: 0rem;
    margin: 0;
    padding: 0;
}


.heart:has(.iconoCheckbox:checked){
    color: rgb(58, 12, 119);
}

 p {
    color: var(--title-color);
}
h2, h4{
    color: var(--main-color);
}


