@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
}

<p>Vista Tipo Medicamento</p>


<div id="divtable">

</div>


<div class="input-group mb-3">
    <input id="txtNombreBusqueda" type="text" class="form-control" placeholder="Ingrese nombre sucursal" aria-label="Busqueda.." aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="buscar()">Buscar</button>
</div>

<script src="~/js/generic.js"></script>
<script src="~/js/TipoMedicamento.js"></script>


