*{
    margin: 0;
    padding: 0;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.game{
    width: 22rem;
    height: 20rem;
    background-color: black;
}

.ball{
    width: 2rem;
    height: 2rem;
    background-color: red;
    border-radius: 50%;
    animation: ball 2s infinite;
    animation-timing-function: linear;
}


.skate{
    width: 5rem;
    height: 2rem;
    background-color: green;
    border-radius: 10%;
    position: relative;
    top: 13rem;
    transform: translate(-50%, -50%);
    animation: skate 2s infinite;
    animation-timing-function: linear;
}


@keyframes ball{
    0%{
        transform: translate(0, 0);
    }

    25%{
        transform: translate(10rem, 10rem);
    }

    100%{
        transform: translate(20rem,0rem);
    }
}

@keyframes skate {
    0%{
        transform: translateX(0);
    }

    50%{
        transform: translateX(15rem);
    }

    100%{
        transform: translateX(0);
    }
}